body {
  background: #101111;
}

.navbar {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  background-color: #101111;
}

.sm-d-contents {
  display: contents;
  padding-left: 50px;
}

.bg-dark {
  background-color: #101111 !important;
}

.nav-mid .nav-link {
  color: #fff !important;
}

.navbar-toggler-icon {
  background-image: url(assets/hamburger-menu.svg);
  height: 33px;
  width: 50px;
}

.btn-signin {
  background-color: #fff;
  color: #000;
  width: 97px;
  height: 33px;
}

.banner-section h4 {
  transform: rotate(270deg);
  font-family: "Krub", sans-serif;
  font-weight: bold;
  font-size: 43px;
  color: #fff;
}

.banner-section h1 {
  font-family: "Krub", sans-serif;
  font-weight: bold;
  font-size: 132px;
  color: #fff;
}

.square {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.text-left-banner {
  color: #fff;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.vertical-word {
  height: 380px;
}

.row-banner {
  height: 80vh;
}

.circle {
  height: 375px;
  width: 375px;
  background-color: #b860fa;
  border-radius: 200px;
}

.banner-section img {
  filter: grayscale(1);
}

.edition-year {
  border: solid 3px #fff;
  border-right: 0;
  padding: 5px 0px 5px 5px;
}

.col-banner-right span {
  font-size: 17px;
  color: #fff;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}

.year {
  font-size: 17px;
  color: #fff;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  font-size: 29px;
}

.col-text-banner {
  height: 30px;
}

.text-header-banner {
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.text-body-banner {
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-align: justify;
}

.btn-start {
  width: 125px;
  height: 43px;
  color: #fff;
  background-color: #b860fa;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-start:hover {
  opacity: 0.8;
}

.btn-read-more {
  width: 125px;
  height: 43px;
  color: #fff;
  background-color: #101111;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.row-indices {
  color: #fff;
  height: 220px;
  background: #0f1010;
  bottom: 0;
}

.number-indice {
  font-size: 51px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 51px;
}

.purple-plus {
  color: #b860fa;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 51px;
}

.shadow {
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 3.15) !important;
}

.row-indices h6 {
  font-family: "Krub", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 22px;
}

.row-indices h5 {
  font-family: "Krub", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 22px;
}

.new-challenges-section {
  margin-top: 130px;
}

.row-new-challenges {
  height: 80vh;
}

.row-new-challenges h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  font-size: 83px;
}

.row-new-challenges h2 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Krub", sans-serif;
  font-size: 83px;
}

.row-new-challenges h3 {
  text-transform: uppercase;
  font-family: "Krub", sans-serif;
  font-size: 49px;
  font-weight: bold;
  color: 252525;
}

.btn-arrow-down {
  background-image: url(assets/img-arrow-down.svg);
  height: 74px;
  width: 29px;
  background-color: #101111;
  background-size: cover;
  background-position: center;
  border: 0;
}

.text-discovery-right {
  color: #fff;
  transform: rotate(90deg);
  text-transform: uppercase;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-weight: bold;
  right: -70px;
}

.text-discovery-left {
  color: #fff;
  transform: rotate(270deg);
  text-transform: uppercase;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-weight: bold;
  left: -70px;
}

.card-text {
  text-align: justify !important;
}

.card {
  border-radius: 0;
  border: solid #fff 3px;
}

.card-body {
  background-color: #101111;
}

@media (max-width: 992px) {
  .row-banner {
    height: auto;
  }

  .col-text-banner {
    height: auto;
  }

  .btn-read-more,
  .btn-start {
    width: 100% !important;
  }

  .vertical-word {
    height: auto;
  }

  .banner-section h4 {
    transform: none;
  }

  .banner-section img {
    position: inherit !important;
  }

  .circle {
    position: absolute;
  }

  .edition-year {
    text-align: center;
  }

  .row-indices {
    position: inherit !important;
  }
}
